*{
    font-family: 'Poppins', sans-serif;
}

input[type=text]{
    background-color: lightgray !important;
    border-bottom: none !important;
}

input[type=email]{
    background-color: lightgray !important;
    border-bottom: none !important;
}

input[type=password]{
    background-color: lightgray !important;
    border-bottom: none !important;
}

::-webkit-input-placeholder { color:#215472; }

.smlltext{
    font-size: 12px;
}